.sidebarButton{
   -fx-background-color: #018383;
}
.sidebarButton:hover{
  -fx-background-color: #015668;
}
.sidebarButton:pressed{
  -fx-background-color: #0183AA;
}

.icon{
  -fx-fill: #fff;
}

.addButton{
 -fx-background-color: #7156D0;   
}
.addButton:hover{
   -fx-background-color: #2A1C42;   
}
.addButton:pressed{
   -fx-background-color: #7156D0;
}

.column-header,
.table-view .column-header-background .filler{
       -fx-cell-size: 20;
       -fx-background-color:#7156DC;
}

.table-view .column-header .label{
     -fx-text-fill: white;
     -fx-alignment: CENTER_LEFT;
}